<% @recipes.each do |recipe|%>
    <div class="recipe">
        <h2><%= recipe.name %></h2>
        <p><%= recipe.description %></p>
        <%= button_to "Delete", recipe_path(recipe), method: :delete %>
    </div>
<%end%>

<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js" crossorigin="anonymous"></script>

<script>

const deleteButtons = document.querySelectorAll('button');
deleteButtons.forEach(button => {
    button.addEventListener('click', async (e) => {
        e.preventDefault();
       const response = await axios.delete(button.parentElement.action, {
        headers: {
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            'Content-Type':  'application/json',
       } })
       if(response.status === 200) {
           button.parentElement.parentElement.remove()
           const notice = document.querySelector('.notice')
              notice.innerHTML = "Delete successful"
       } else{
         const error = document.querySelector('.alert')
        error.innerHTML = "Delete failed"
       }


    })
})
</script>
